.collection-item {
  width: 22%;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  border: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right top, #00bc80, #00dc63);
  padding: 2px;
  padding-bottom: 8px;
  overflow: hidden;

  &:hover {
    cursor: pointer;
    transition: 0.5s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    border-image-source: linear-gradient(to right top, #dd54a6, #ff69b4);

    & .image {
      opacity: 0.9;
    }
  }
  // #dd54a6,
  // #ff69b4

  .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }

  .collection-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    .name {
      width: 90%;
      margin-bottom: 15px;
    }

    .price {
      width: 10%;
    }
  }
}
